{{ define "main" }}
  {{ .Content }}
  <div>
    <h1><a class="no-underline" href="/thoughts">Thoughts</a></h1>
    {{ range first 3 .Site.Taxonomies.tags.essay }}
    <div class="title-container">
      <span>{{ .Date | time.Format ":date_medium" }}</span>
      <h2 class="list-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a></h2>
      <p class="title-description">{{ .Description }}</p>
    </div>
    {{ end }}
  </div>
  <div>
    <h1><a class="no-underline" href="/book-reviews">Book Reviews</a></h1>
    {{ range first 3 .Site.Taxonomies.tags.review }}
    <div class="title-container">
      <span>{{ .Date | time.Format ":date_medium" }}</span>
      <h2 class="list-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a></h2>
      <p class="title-description">{{ .Description }}</p>
    </div>
    {{ end }}
  </div>
  <div>
    <h1 class="no-underline"><a class="no-underline" href="/travelogues">Travelogues</a></h1>
    {{ range first 3 .Site.Taxonomies.tags.travelogue }}
      <div class="title-container">
      <span>{{ .Date | time.Format ":date_medium" }}</span>
      <h2 class="list-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a></h2>
      <p class="title-description">{{ .Description }}</p>
    </div>
    {{ end }}
  </div>
{{ end }}
