{{ define "main" }}
  {{ .Content }}
  <div></div>
  <div class="content" style="flex: 6;">
    <div class="home-hero">
      <div class="home-header-text">
        <h1>Hey there — I'm <a href="/about">Reese</a>.</h1>
        <p>I write about <a href="/tags/travelogues">travel</a>, <a href="/tags/reviews">books</a>, and general skullduggery.</p>
        <!-- {{ partial "subscribe-button.html" }} -->
      </div>
    </div>
    <h1><a class="no-underline" href="/tags/essays">Essays</a></h1>
    {{ range first 3 .Site.Taxonomies.tags.essays }}
    <div class="title-container">
      <span>{{ .Date | time.Format ":date_medium" }}</span>
      <h2 class="list-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a></h2>
      <p class="title-description">{{ .Description }}</p>
    </div>
    {{ end }}
    <h1><a class="no-underline" href="/tags/reviews">Reviews</a></h1>
    {{ range first 3 .Site.Taxonomies.tags.reviews }}
    <div class="title-container">
      <span>{{ .Date | time.Format ":date_medium" }}</span>
      <h2 class="list-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a></h2>
      <p class="title-description">{{ .Description }}</p>
    </div>
    {{ end }}
    <h1 class="no-underline"><a class="no-underline" href="/tags/travelogues">Travelogues</a></h1>
    {{ range first 3 .Site.Taxonomies.tags.travelogues }}
      <div class="title-container">
      <span>{{ .Date | time.Format ":date_medium" }}</span>
      <h2 class="list-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a></h2>
      <p class="title-description">{{ .Description }}</p>
    </div>
    {{ end }}
  </div>
  <div></div>
{{ end }}
