{{ define "main" }}
  {{ .Content }}
  <div></div>
  <div class="content" style="flex: 6;">
    <div class="home-hero">
      <div class="home-header-text">
        <h1>Hey there — I'm <a href="/about">Reese</a>.</h1>
        <p>I write about <a href="/tags/travelogues">travel</a>, <a href="/tags/reviews">books</a>, and general skullduggery.</p>
      </div>
    </div>
    <hr/>
    <h1>Latest</h1>
    {{ range first 10 .Site.RegularPages }}
    <div class="title-container">
      <div class="title-date-line">
        <h2 class="list-title"><a class="no-underline" href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a></h2>
        <div class="dots"></div>
        <span class="post-date">{{ .Date | time.Format "Jan 2006" }}</span>
      </div>
      <p class="title-description">{{ .Description }}</p>
    </div>
    {{ end }}
    <div class="view-all">
      <a href="/posts" class="view-all-link">View All Posts →</a>
    </div>
    <hr/>
    <div class="home-footer">
      <p>If you like my stuff, consider subscribing to my newsletter!</p>
      <span>Bi-weekly-ish, cool stuff, etc.</span>
       {{ partial "subscribe-button.html" }}
    </div>
  </div>
  <div></div>
{{ end }}