{{ define "main" }}
  <div></div>
  <div class="content">
    {{ if .Draft }}
    <div class="draft-banner">
        ⚠️ THIS IS A DRAFT ⚠️
    </div>
    {{ end }}
    <h1>{{ .Title | markdownify }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    {{ if ne .Params.type "page" }}
      <p><em><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></em></p>
    {{ end }}

    {{ if .Params.featureImage }}
    <div class="feature-image">
      <img src="{{ .Params.featureImage }}" alt="{{ .Title }}">
    </div>
    {{ end }}

    <section>
      {{ .Content }}
    </section>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
  <div></div>
{{ end }}
