@charset "UTF-8";

:root {
  --main-bg-color: #fff;
  --main-text-color: #1C2321;
  --hover-text-color: #5976DF;
  --accent-color: #648DE5;
}

html {
  font-size: 14px;
}

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

body a:hover {
  color: var(--hover-text-color);
}

main {
  width: 100%;
  display: flex;
}

main div {
  flex: 1;
}

main div.content {
  flex: 2.5;
  max-width: 1200px;
  padding-bottom: 20px;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

hr {
  overflow: visible;
  padding: 30px 0;
  border: none;
  text-align: center;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.75em;
  padding: 0 0.25em;
  color: var(--hover-text-color);
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.danger {
  color: red;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section > p:first-child::first-letter {
  color: var(--accent-color);
  padding-right: 8px;

  -webkit-initial-letter: 3;
  initial-letter: 3;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  text-align: justify;
}

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  margin-right: 40px;
}

blockquote footer {
  font-size: 1.2rem;
  text-align: right;
}

blockquote p:has(cite) {
  margin-top: 8px;
  display: block;
  text-align: right;
  font-size: 1.25rem;
}

.quote-highlight p {
  text-align: center;
  text-wrap: balance;
  font-size: xx-large;
  font-style: italic;
  line-height: 150%;
  padding: 40px 0;
  margin: auto;
}

cite {
  font-style: inherit;
  font-size: 1.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

a:link,
a:visited {
  color: inherit;
  text-decoration-thickness: from-font;
}

.no-underline:link {
  text-decoration: none;
}

a.hover-underline:hover {
  text-decoration: underline;
}

/* figures, captions */
img {
  max-width: 100%;
  display: block;
  margin: auto;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.feature-image img {
  display: block;
  width: 100%;
}

code,
pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  padding-top: 10px;
  width: 100vw;
  max-width: none;
  height: auto;
  position: relative;
  transform: translateX(-12.5%);
  margin-right: -15%;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  main {
    padding-left: 0;
    width: 100%;
  }

  main div {
    flex: 0;
  }

  hr { width: 100%; }

  pre > code {
    width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  .fullwidth {
    /* Body left-padding is reduced to 8% */
    transform: translateX(-8%);
    margin-right: -10%;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
    width: 90%;
  }

  section > p,
  blockquote p,
  blockquote footer,
  section > div > ol {
    width: 100%;
  }

  label {
    cursor: pointer;
  }

  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}

/* BEGIN Nav */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12.5%;
  background-color: var(--main-bg-color);
}

.site-title a {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--accent-color);
  text-decoration: none;
}

.site-title a:hover {
  color: var(--hover-text-color);
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  font-size: 1.5rem;
  color: var(--main-text-color);
  font-weight: bold;
}

.nav-links li a:hover {
  color: var(--hover-text-color);
}

.right-nav-container {
  display: flex;
}

.right-nav-container > div > .social-icons {
  padding-left: 10px;
}

.right-nav-container .social-icons {
  padding: 0;
  margin: 0;
}

.social-icons img {
  display: inline;
}

@media (max-width: 900px) {
  .main-nav {
    padding: 20px 0;
  }

  .nav-links {
    flex-direction: column;
  }
}

/* END Nav */

/* BEGIN Footer */

.site-footer-container {
  width: 87.5%;
}

.site-footer {
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.site-footer a {
  color: var(--accent-color);
}

.site-footer a:hover {
  color: var(--accent-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  font-size: 1rem;
  width: 100%;
}

@media (max-width: 900px) {
  .site-footer-container {
    width: 100%;
  }
}

.social-icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.social-icons li {
  list-style-type: none;
}

.social-icons a {
  margin-left: 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
  max-width: none;
}

.social-icons img:hover {
  filter: invert(0.3);
}

/* END Footer */

/* BEGIN Utils */

.list-title {
  margin-top: 5px;
  margin-bottom: 0;
}

.title-container span,
.title-container p {
  font-style: italic;
}

.title-container p {
  margin-top: 0;
  margin-left: 2rem;
  font-size: 1.2em;
}

.title-container {
  margin: 0 30px 1.5rem;
  margin-bottom: 1.5rem;
}

.title-date-line {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.list-title {
  margin: 0;
  padding-right: 0.5rem;
  max-width: 500px;
}

.list-title a {
  text-decoration: none;
  color: #333;
}

.list-title a:hover {
  text-decoration: underline;
}

.dots {
  flex: 1;
  height: 1rem;
  margin: 0 0.5rem;
  border-bottom: 2.5px dotted #ccc;
}

.post-date {
  font-size: 18px;
}

.view-all {
  margin-top: 2rem;
  text-align: right;
}

.view-all-link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .title-date-line {
    flex-direction: column;
    align-items: flex-start;
  }

  .dots {
    display: none;
  }
  
  .post-date {
    font-size: 1rem;
  }
}

/* END Utils */

/* BEGIN one-offs */
.home-hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.home-header-text, .home-header-text p {
  margin: auto;
  text-align: center;
}

.home-header-text a {
  color: var(--accent-color);
  background: unset;
  text-shadow: none;
  text-decoration: dashed;
}

.home-footer {
  display: flex;
  flex-direction: column;
}

.home-footer p, .home-footer span, .subscribe-form {
  margin: auto;
  text-align: center;
  width: fit-content;
}

#bd-email {
  padding: 12px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 250px;
  font-size: 14px;
  margin-right: 10px;
}

#bd-submit {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#bd-submit:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
}

#bd-submit:active {
  transform: translateY(-2px);
}

.subscribe-form {
  padding: 20px 0;
  display: flex;
}

.subscribe-cta {
  margin: auto;
  text-align: center;
  width: fit-content;
}

.draft-banner {
  background-color: #ffcc00;
  color: #000;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}

.spoiler-alert {
  width: 95%;
  background-color: #ffcc00;
  color: #000;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
}

.spoiler-alert p {
  text-align: center;
}

@media (max-width: 900px) {
  .spoiler-alert {
    width: 100%;
  }
}
/* END one-offs */
