<ul class="social-icons">
  <li><a aria-label="Instagram" href="https://instagram.com/the.reese.williams" class="no-underline" target="_blank" rel="me"><img alt="Instagram icon" src="/svg/instagram.svg" ></img></a></li>
  <li><a aria-label="Goodreads" href="https://goodreads.com/reesew" class="no-underline" target="_blank" rel="me"><img alt="Goodreads icon" src="/svg/goodreads.svg" ></img></a></li>
  <li><a aria-label="Github" href="https://github.com/reese" class="no-underline" target="_blank" rel="me"><img alt="Github icon" src="/svg/github.svg" ></img></a></li>
  <li><a aria-label="Access RSS feed" href="/index.xml" class="no-underline" target="_blank"><img alt="RSS Icon" src="/svg/rss-solid.svg" ></img></a></li>
</ul>