@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.navigation {
  width: 100%;
  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 25px 20px 0;
  }
}

@include breakpoint-sm {
  .navigation_inner {
    padding: 30px 20px 0;
  }
}

@include breakpoint-md {
  .navigation__inner {
    padding: 40px;
  }
}
