<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta
  name="description"
  content="{{ .Description | default .Site.Params.SiteDescription }}" />
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title
      site.Title
    }}
  {{ end }}
</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<script defer data-domain="reesew.com" src="https://plausible.io/js/script.hash.tagged-events.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>