<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta
  name="description"
  content="{{ .Description | default .Site.Params.SiteDescription }}" />
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title
      site.Title
    }}
  {{ end }}
</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<script defer src="https://accomplished-swift.pikapod.net/script.js" data-website-id="2984d7a8-cd81-460f-9bf6-28867800fcb2"></script>